<h1>Signup!</h1>

<%= form_for :user, url: "/signup" do |f| %>
<% if @user.errors.any? %>
  <h4>
    Sorry! There seems to be <%= pluralize(@user.errors.count, "error") %> with the sign up process:
    <ul><% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %></ul>
  </h4>
<% end %>
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<%= f.submit "Submit", class: 'btn btn-success' %>


<% end %>
