<tr>
  <td><%= link_to item.product.name, item.product %></td>
  <td><%= image_tag item.product.image.thumb %></td>
  <td><%= item.product.description %></td>
  <td align="center"><%= item.quantity %></td>
  <td>$<%= Float(item.total_price_cents)/100 %></td>
</tr>
